<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="false" />
      <cors enabled="true" failUnlistedOrigins="true">
        <add origin="http://localhost:3000" allowCredentials="true" maxAge="120">
          <allowHeaders allowAllRequestedHeaders="true">
            <add header="Content-Type" />
            <add header="Accept" />
          </allowHeaders>
          <allowMethods>
            <add method="POST" />
            <add method="OPTIONS" />
          </allowMethods>
        </add>
        <add origin="http://aph-dev5:3000" allowCredentials="true" maxAge="120">
          <allowHeaders allowAllRequestedHeaders="true">
            <add header="Content-Type" />
            <add header="Accept" />
          </allowHeaders>
          <allowMethods>
            <add method="POST" />
            <add method="OPTIONS" />
          </allowMethods>
        </add>
      </cors>
    </system.webServer>
  </location>
</configuration>